.app {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.app-info {
  margin-left: 20px;
}

@media screen and (min-width:300px) and (max-width: 800px) {
  .app {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }
  
  .app-info {
    margin-left: 20px;
  }

}